doctype html
html 
    head
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp", crossorigin="anonymous")
        title  #{pageTitle} | #{siteName}
    body
        include ../partials/header

        main 
            block content
        
        include ../partials/footer

//- block에 화면의 내용들이 채워짐 
//- 그 안에 다른 화면의 내용들이 들어감 


//- header와 같은 들여쓰기이면 head와 같은 레벨의 h1 태그가 됨, 그 다음에 있다는 뜻
//- hearder에서 들여쓰기를 한번 해주면 header 내부에 있다는 뜻 